@model CarDealership.Models.CarColor
@{
    ViewData["Title"] = "Edit Color";
}
<div class="container">
    <h2>Edit Color</h2>
    <form method="post" asp-action="Edit">
        <input type="hidden" asp-for="CarColorId" />

        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Value" class="form-label"></label>
            <input asp-for="Value" class="form-control" />
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update Color</button>
    </form>

    <a asp-action="Index" class="btn btn-secondary">Back to Colors List</a>
</div>

